[Unit]
Description=Run performance service

# Restart 5 times within 20 minutes so that an intermittent network failures are gracefully handled
StartLimitIntervalSec=1200
StartLimitBurst=5

[Service]
User=performance
ExecStartPre=-podman stop --ignore %n
ExecStartPre=-podman rm %n

#ExecStartPre=podman pull {{ performance_service_image }}
ExecStartPre=-send-to-matrix "🔁 Starting geocoder on {{ inventory_hostname }}"

ExecStart=podman run -it --rm --name %n \
    -e POSTGRES_PASSWORD={{ performance_db_password }} \
    --network=host \
    {{ performance_service_image }} server /config/performance.yml

ExecStop=podman stop --ignore %n
ExecStop=-podman rm %n

Restart=on-failure

[Install]
WantedBy=multi-user.target
