[Unit]
Description=backup-influx-data

[Timer]
#OnCalendar=0 5 * * 0
OnCalendar=Tue,Sat *-*-* 05:00:00
Persistent=true

[Install]
WantedBy=timers.target
